@charset "utf-8";
.supplementfloor {
	display: inline-block;
	margin-top: 48px !important;
	position: relative;
	/*width: 45%;*/
	vertical-align: top;
	margin-right: 3%;
	width: 30%;
	min-width: 445px;
}

.supplementfloor:last-child {
	margin-right: 0px;
}

.supplementfloor label.markMsg {
	display: inline-block;
	/*width: 98px;*/
	width: 118px;
	height: 24px;
	line-height: 24px;
	background-color: #9295ff;
	color: #fff;
	font-size: 13px;
	position: absolute;
	left: 0px;
	top: -24px;
	text-align: center;
}

.supplementfloor label.markMsg i {
	display: inline-block;
	width: 6px;
	height: 6px;
	background-color: #fff;
	border-radius: 50px;
	position: absolute;
	left: 12px;
	top: 9px;
}

.supplementfloor ul.searchFloor {
	border: solid 1px #d2d2d2;
	border-radius: 4px;
	width: 96%;
    background-color: #ffffff;
    padding: 15px 2% 15px 2%;
}

.supplementfloor ul.searchFloor li {
	margin-bottom: 20px;
}

.supplementfloor ul.searchFloor li label {
	display: inline-block;
	min-height: 24px;
	background-color: #f2f5ff;
	font-size: 14px;
	text-align: center;
	color: #6f7073;
	font-weight: bold;
	border-left: 3px #fbd608 solid;
	border-right: solid 1px #f2f5ff;
	vertical-align: middle;
	height: 30px;
	line-height: 30px;
	width: 20%;
	margin-right: 0px !important;
}

.supplementfloor ul.searchFloor li input,
.supplementfloor ul.searchFloor li select.refund {
	box-sizing: border-box;
	height: 30px;
	line-height: 30px;
	border: solid 1px #969696;
	display: inline-block;
	/*width: 47%;*/
	width: 75%;
	margin-left: 4%;
	vertical-align: top;
}

.supplementfloor ul.searchFloor li.btnList a {
	display: inline-block;
	margin-right: 0px;
	background-color: #eeebe6;
	text-align: center;
	box-shadow: 1px 4px 4px #b3b3b1;
	font-size: 14px;
	border-radius: 5px;
	font-weight: bold;
	-webkit-transition: all;
	transition: all;
	Application for refund -webkit-transition-timing-function: linear;
	transition-timing-function: linear;
	-webkit-transition-duration: .5s;
	transition-duration: .5s;
	color: #9295ff;
	height: 28px;
	line-height: 28px;
	width: 20%;
	margin-right: 60%;
}

.supplementfloor ul.searchFloor li.btnList a:last-child {
	margin-right: 0px;
}

.supplementfloor ul.searchFloor li.btnList a.selected {
	background-color: #ece8e7;
	box-shadow: inset 1px 3px 4px #b8b8b8;
	color: #f88032;
}

.supplementfloor ul.searchFloor li.supplementItem {}

.supplementfloor ul.searchFloor li.supplementItem input,
.supplementfloor ul.searchFloor li.supplementItem select {
	width: 35%;
	margin-right: 5%;
}

.supplementfloor ul.searchFloor li.supplementItem select {
	margin-right: 0px;
	box-sizing: border-box;
	height: 30px;
	line-height: 30px;
	border: solid 1px #969696;
	display: inline-block;
	vertical-align: top;
}

.supplementfloor.fillSupplement ul.searchFloor li.btnList a {
	margin-right: 59%;
}

.supplementfloor.fillSupplement ul.searchFloor li.btnList a:last-child {
	margin-right: 0px;
}

.fillSupplement.supplementfloor {
	margin-right: 0px;
}

p.currency {
	display: inline-block;
	height: 34px;
	line-height: 34px;
	text-align: right;
	font-size: 14px;
	margin-top: 0px;
	width: 100%;
}

.searchResult {
	display: none;
}

.searchResult ul {
	background-color: #ffffff;
	border: solid 1px #DADADA;
	display: inline-block;
	border-radius: 5px;
	width: 100%;
}

.searchResult ul li {}

.searchResult ul li dl {
	font-size: 0px;
	height: 34px;
	line-height: 34px;
}

.searchResult ul li dl dd {
	display: inline-block;
	font-size: 14px;
	border-right: solid 1px #dadada;
	text-align: center;
	/*min-width: 110px;
    width: initial;*/
	width: 9.9%;
}

.searchResult ul li dl dd:last-child {
	border-right: 0px;
}

.searchResult ul li.title {
	height: 34px;
	line-height: 34px;
	background-color: #9295ff;
	color: #FFFFFF;
}

.searchResult ul li.detail {
	height: 34px;
	line-height: 34px;
	background-color: #ffffff;
	color: #636363;
}

.searchResult ul li.detail dl {}

.searchResult ul li.detail dl dd {
	display: inline-block;
	font-size: 14px;
	border-right: solid 1px #dadada;
	text-align: center;
	min-height: 34px;
	line-height: 34px;
	vertical-align: top;
}

.searchResult ul li.detail dl dd:last-child {
	border-right: 0px;
}

.searchResult ul li.detail {
	border-bottom: solid 1px #D2D2D2;
}

.searchResult ul li.detail:last-child {
	border-bottom: 0px;
}

ul.manageNav {
	font-size: 0px;
}

ul.manageNav li {
	display: inline-block;
	font-size: 16px;
	height: 40px;
	line-height: 40px;
	text-align: center;
	background-color: #888aee;
	border-right: solid 1px #484ca5;
	/*width: 49.5%;*/
	width: 49.77%;
}

ul.manageNav li.current-item {
	background-color: #ff893f;
}

ul.manageNav li a {
	display: inline-block;
	width: 100%;
	color: #fff;
}

ul.searchFloor.airticketInfo {
	display: none;
}

ul.searchFloor.refund {
	display: none;
}

.confirmNoticeInfo {
	text-align: center !important;
	vertical-align: middle;
	width: 290px;
	height: 266px;
	padding: 0px;
	border: solid 2px #9295ff;
	border-radius: 10px;
	background-color: #fff;
	position: fixed;
	bottom: 30%;
	left: 49%;
	box-shadow: 0px 0px 4px #9295ff;
	overflow: hidden;
	display: none;
}

.confirmNoticeInfo .confirmTitle {
	vertical-align: middle;
	text-align: center !important;
	color: #8f8f8f;
	font-size: 32px;
	border-bottom: solid 1px #b5b5b5;
	padding-bottom: 24px;
	margin: 22px 16px 0px 16px;
}

.confirmNoticeInfo .confirmTitle img {
	width: 110px;
	height: 110px;
}

.confirmNoticeInfo p.confirmNotice {
	text-align: center;
	font-size: 20px;
	color: #848484;
	margin-top: 12px;
}

.confirmNoticeInfo .actionBox {
	font-size: 0px;
	text-align: center;
	margin-top: 26px;
}

.confirmNoticeInfo .actionBox button {
	display: inline-block;
	width: 50%;
	margin-left: 0px !important;
	height: 45px;
	line-height: 45px;
	font-size: 16px;
	padding: 0px;
	cursor: pointer;
}

.confirmNoticeInfo .actionBox button.actionConfirm {
	background-color: #9295ff;
	color: #fff;
	border-bottom-left-radius: 7px;
	border-color: #9595ff;
}

.confirmNoticeInfo .actionBox button.actionCancel {
	background-color: #e3e4ff;
	color: #9394fe;
	border-bottom-right-radius: 7px;
	border-color: #e3e4ff;
}
.supplementfloor ul.searchFloor li.exchangeRate{
	display: none;
}
.supplementfloor ul.searchFloor li{
	position: relative;
}
.supplementfloor ul.searchFloor li.requiredItem label::after {
    content: '*';
    background: url(../img/required.png) center center no-repeat;
    background-size: contain;
    width: 9px;
    height: 9px;
    color: transparent;
    position: absolute;
    left: 22%;
    top: 11px;
}